# .clang-format settings
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
NamespaceIndentation: None
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
AlignAfterOpenBracket: BlockIndent
AlignOperands: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
ColumnLimit: 0
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

BraceWrapping:
  AfterFunction: false
  AfterExternBlock: true
  BeforeElse: false
  SplitEmptyFunction: false
